body{
    background-image: url("/img/fundo.png");
}
#container{
    width: 1200px;
    position: relative;
    left: 107px;
    top: -8px;
    height: 2720px;
    background-color: beige;
}
#capa img{
    width: 100%;
}
#menu{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: rgb(119, 119, 117);
    height: 60px;
    top: -20px;
}
#menu a{
    position: relative;
    color: black;
    text-decoration: none;
    top: 20px;
}
#texto{
    text-align: justify;
}
#img1 img{
    width: 1197px;
    height: 480px;
    border: 2px solid;
}
#img2 img{
    width: 1197px;
    height: 480px;
    border: 2px solid;
}
#img3 img{
    width: 1197px;
    height: 480px;
    border: 2px solid;
}
#rodape{
    background-color: rgb(88, 87, 87);
    height: 80px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 2px solid;
}
#rodape h3{
    position: relative;
    top: 20px;
    font-size: 23px;
}